<div class="row">
    <div class="col-xs-12">
        <img 
        [src]="scripture.imagePath" 
        alt="{{ scripture.name }}" 
        class="img-responsive"
        style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ scripture.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div 
        class="btn-group"
        appDropdown>
            <button 
            type="button" 
            class="btn-primary dropdown-toggle">
            Manage Scripture <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">To Scriptures List</a></li>
            <li><a href="#">Edit Scripture</a></li>
            <li><a href="#">Delete Scriptures</a></li>
        </ul>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ scripture.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Some Books

    </div>
</div>
